  {{> header}}
   {{> navbar}}

    <div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-3">Node.js es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor basado en el lenguaje de programación JavaScript, asíncrono, con E/S de datos en una arquitectura orientada a eventos y basado en el motor V8 de Google</div>
  <div class="col-sm-3">​<picture>
  <img src="images/node.png" class="img-fluid img-thumbnail d-block" alt="...">
</picture></div>
  <div class="col-sm-3"></div>
</div>
    <div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-3"><picture>
  <img src="images/handlebars-js.png" class="img-fluid img-thumbnail mx-auto d-block" alt="...">
</picture></div>
  <div class="col-sm-3">​Handlebars.js es una extensión del lenguaje de plantillas Mustache creado por Chris Wanstrath. Tanto Handlebars.js como Mustache son lenguajes de plantillas sin lógica que mantienen separados el código y la vista, que, como es bien sabido, es como deben estar.</div>
  <div class="col-sm-3"></div>
</div>
{{> footer}}